<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569470704324-bbjslob4egi2n770bar62tvtdq7e2pm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569470704324-bbjslob4egi2n770bar62tvtdq7e2pm7</string>
	<key>API_KEY</key>
	<string>AIzaSyC235IEEjOh2z5TFPnZA4UPT6Z9v1SPvLM</string>
	<key>GCM_SENDER_ID</key>
	<string>569470704324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennialcollege.mobile.Slot-Machine-Part-03</string>
	<key>PROJECT_ID</key>
	<string>jackpotgame-a3813</string>
	<key>STORAGE_BUCKET</key>
	<string>jackpotgame-a3813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:569470704324:ios:7fc99c0c5328f002f5c791</string>
</dict>
</plist>
